<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.student.dao.CourseDao">
    <select id="listCourses" parameterType="Course" resultType="Course">
        select * from tb_course WHERE
        1=1
        <if test="cname != null and cname != ''">
            AND
           tb_course.cname LIKE concat(concat('%',#{cname}),'%')
        </if>
        order by id
    </select>
    <update id="deleteCourse" parameterType="Course">
        update tb_course set status =0 where id =#{id}
    </update>
    <update id="activeCourse" parameterType="Course">
        update tb_course set status =1 where id =#{id}
    </update>
    <update id="updateCourse" parameterType="Course">
        update tb_course set cname=#{cname},status =#{status} ,teacher =#{teacher} where id =#{id}
    </update>
    <insert id="insertCourse" parameterType="Course">
        insert into tb_course(cname,status,teacher) values (#{cname},#{status},#{teacher})
    </insert>
</mapper>