<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.student.dao.ScoreDao">
    <select id="listScores" parameterType="Score" resultType="Score">
        select a.ID as "student.id",a.sno as "student.sno",a.SNAME as "student.sname"
        ,b.ID,b.GRADE,b.CREATE_TIME,c.id as "course.id", c.cname as "course.cname", c.teacher as "course.teacher"
        from TB_STUDENT a  , TB_SCORE b ,  TB_COURSE c
        where b.PK_SID=a.ID and  b.PK_CID=c.ID
        and 1=1
        and c.status=1
        <if test="student!=null and student.name != null and student.name != ''">
            AND
           a.sname LIKE concat(concat('%',#{student.name}),'%')
        </if>
        <if test="course!=null and course.cname != null and course.cname != ''">
            AND
            c.cname LIKE concat(concat('%',#{course.cname}),'%')
        </if>
        order by id
    </select>
    <update id="deleteScore" parameterType="Score">
        update tb_score set status =0 where id =#{id}
    </update>
    <update id="activeScore" parameterType="Score">
        update tb_score set status =1 where id =#{id}
    </update>
    <update id="updateScore" parameterType="Score">
        update tb_score set grade=#{grade} where id =#{id}
    </update>
    <insert id="insertScore" parameterType="Score">
        insert into tb_score(scorename,password,email,tel,status) values (#{scorename},#{password},#{email},#{tel},#{status})
    </insert>
</mapper>