<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.student.dao.UserDao">
    <select id="listUsers" parameterType="User" resultType="User">
        select * from tb_user WHERE
        1=1
        <if test="username != null and username != ''">
            AND
           tb_user.username LIKE concat(concat('%',#{username}),'%')
        </if>
        order by id
    </select>
    <update id="deleteUser" parameterType="User">
        update tb_user set status =0 where id =#{id}
    </update>
    <update id="activeUser" parameterType="User">
        update tb_user set status =1 where id =#{id}
    </update>
    <update id="updateUser" parameterType="User">
        update tb_user set username=#{username},status =#{status} ,email =#{email},tel=#{tel} where id =#{id}
    </update>
    <insert id="insertUser" parameterType="User">
        insert into tb_user(username,password,email,tel,status) values (#{username},#{password},#{email},#{tel},#{status})
    </insert>

    <select id="getUser" parameterType="User" resultType="User">
        select * from tb_user WHERE username=#{username} and PASSWORD =#{password}
    </select>
</mapper>