<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.student.dao.UserDao">
    <select id="listUsers" parameterType="User" resultType="User">
        select * from tb_user WHERE
        1=1
        <if test="username != null and username != ''">
            AND
           tb_user.username LIKE concat(concat('%',#{username}),'%')
        </if>
        order by id
    </select>
</mapper>