<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/bar :: common_header(~{::title})">
    <title>登录</title>
    <link href="asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
</head>
<body>
<div class="layui-container" style="padding-top: 100px">
    <div class="layui-row">
    <div class="layui-col-md4 layui-col-md-offset4">
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-input-block" align="center">
                    <img class="mb-4" th:src="@{/asserts/img/logo.png}" src="asserts/img/bootstrap-solid.svg" alt="" width="72"
                         height="72">
                    <br>
                    <br>
                    <p> <b style="font-size: 20px">学生成绩管理系统</b></p>
                    <b>用户登录</b>
                    <!--登录失败显示文字-->
                    <p style="color: red" id="error"></p>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名<i class="layui-icon layui-icon-username"></i></label>
                <div class="layui-input-block">
                    <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名" autocomplete="off"
                           class="layui-input layui-icon-username">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码<i class="layui-icon layui-icon-password"></i></label>
                <div class="layui-input-block">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off"
                           class="layui-input ">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" align="center">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>

</div>
</div>
</body>

<script type="text/javascript" th:src="@{/asserts/layui/layui.js}"></script>
<script type="text/javascript">
    layui.use(['jquery', 'layer', 'form'], function () {
        var $=layui.$;
        var form = layui.form;
        form.on('submit(formDemo)', function(data){
            $.ajax({
                type:"post",
                url:"/user/login",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify(data.field),
                success:function (data) {
                    if (data.code == 200) {
                        layer.msg("登录成功");
                        window.location.href="/user_list.html";
                    } else {
                       $("#error").text("用户名或密码错误");
                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    })
</script>
</html>